<% provide(:title, "Blogs") %>
<div id="outer-box" >
  <section id="blogs"">
    <div class="container">
      <div class="card-deck">
          <div class="row">
        <% @blogs.each_with_index do |blog, i| %>
            <div class="col-md-12 col-lg-4 col-sm-12">
              <%= link_to "/blogs/#{blog.id}" do %>
                <div class="card">
                  <img src=<%= "/images/blogs/sample1#{i}.jpeg" %> class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">test</h5>
                    <p class="card-text">
                      This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    </p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </div>
                </div>
              <% end %>
            </div>
        <% end %>
          </div>
      </div>
    </div>
</section>
</div>
