<% provide(:title, "Blogs") %>
<div id="outer-box" >
  <section id="blogs"">
    <div class="container">
      <div class="card-deck">
          <div class="row">
            <%=@blog.description %>
          </div>
      </div>
    </div>
</section>
</div>
