<% provide(:title, "Home") %>
<div>
  <section id="banner"">
    <div class="jumbotron">
      <h1 class="large-letter">
        <span class="bold">Hub! Coming Soon</span>
      </h1>
      <p class="small">WE ARE TEAM OF TALANTED DESIGNERS MAKING WEBSITES WITH BOOTSTRAP</p>
      <p class="small">WE ARE TEAM OF TALANTED DESIGNERS MAKING</p>
    </div>
  </section>
  <section id="services">
    <div class="container">
      <div class="text-center">
        <h2>WHAT WE DO?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
        <p>tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-12  col-xl-4 col-sm-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text content-para-font">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-12  col-xl-4 col-sm-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text content-para-font">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-12  col-xl-4 col-sm-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text content-para-font">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-12  col-xl-4 col-sm-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text content-para-font">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-12  col-xl-4 col-sm-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text content-para-font">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-12  col-xl-4 col-sm-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text content-para-font">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="team">
    <div class="container">
        <div class="text-center">
          <h2>OUR TEAM</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
          <p>tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      <div class="row">
        <div class="card-group">
          <div class="col-md-12 col-lg-4 col-sm-12">
            <div class="card">
              <img src="/images/aditya.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Name</h5>
                <p class="card-text content-para-font">
                  Designation
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-4 col-sm-12">
            <div class="card">
              <img src="/images/aditya.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Name</h5>
                <p class="card-text content-para-font">
                  Designation
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-4 col-sm-12">
            <div class="card">
              <img src="/images/aditya.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Name</h5>
                <p class="card-text content-para-font">
                  Designation
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
</div>
<%# <section id="mid-banner-text"" class="primary-margin">
  <div class="primary-margin">
    <h1 class="da-title">Share your analysis wordwide</h1>
    <p class="da-sub-title">we're coming very soon</p>
  </div>
</section> %>