/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/brands';
@import 'bootstrap/scss/bootstrap';

:root {
   --x-gray: #868686;
   --x-black: black;
   --dgray: #363636;
}

.maring-lr {
   margin-left: 25px;
   margin-right: 25px;
}

.active {
   background-color: #24222226;
   a {
      color: var(--x-black) !important;
   }
      
}
.navbar-brand, .nav-link {
   color: #ffffff !important;
}
.nav-link {
   margin-left: 5px;
   margin-right: 5px;     
}
#banner:before {
   content: "";
   background: rgba(1, 1, 1, 0.6);
   position: absolute;
   bottom: 0;
   top: 0;
   left: 0;
   right: 0;
   color: #ffffff !important;
} 
#banner {
   background: url(hero-bg.jpg) no-repeat;
   width: 100%;
   height: 80vh;
   background-size: cover;
   position: relative;
}

.jumbotron {
   background: transparent;
   h1.large-letter {
      text-align: center;
      line-height: 88px;
      border-width: 0px;
      margin: 120px 10px 10px 10px;
      font-family: 'Open Sans', sans-serif;
      font-size: 70px;
      letter-spacing: 6px;
      text-transform: uppercase;
      font-weight: 400;
      color: #ffffff;
      -webkit-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
      -moz-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
      -ms-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
      filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
   }
   .small {
      text-align: center;
      color: #ffffff;
      color: #ffffff;
      -webkit-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
      -moz-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
      -ms-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
      filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
   }
}
#mid-banner-text {
   box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
   border-radius: 5px;
   background: var(--x-gray);
   color: #ffffff;
   text-align: center;
   padding: 1.5rem;
}
#services {
   padding: 60px;
}
#contact {
   padding-top: 70px;
   padding-bottom: 80px;
   color: #ffffff;
   background: var(--dgray);
}
.card {
   margin: 20px;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.2s;
   border-radius: 5px;
}

.card:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#copyright {
   // background: var(--x-gray);
   color: #ffffff;
}
.text-center {
   text-align: center !important;
}