<footer>
    <div id="contact"  class="container-fluid">
      <div class="text-center">
        <h3>Contact Us</h3>
        <p>Fusce fermen tum neque a rutrum varius odio pede</p>
      </div>
      <div class="container">
        <div class="row">
        <div>
    </div>
    <div id="copyright" class="container-fluid">
      <div class="text-center">
        © AK & Co.
        <br />
        All Rights Reserved.
      </div>
    </div>
  </footer>